---
// import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
import { herbs } from "../../components/Products.astro"
import { Image } from "astro:assets"
export const prerender = true;

// roting dinamico y paso de datos
export async function getStaticPaths() {
    return herbs.map((herbs) => {
        return {
            params : { name_herbs: herbs.name_herbs},
            props: { herbs },
        };
    });
}

const { name_herbs  } = Astro.params;
const { herbs } = Astro.props;

---

<Layout title={name_herbs}>
    <Image src={`/src/assets/${name_herbs}.png`} alt={name_herbs} width={47} height={55} />
    <h2>{name_herbs}</h2>
    <h1>{herbs.paragraph}</h1>
    <h1>{herbs.key_points}</h1>
</Layout>
